<div class='container'>
  <h1>Here are all our amazing cocktails</h1>

  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, crop: :fill %>')">
      <%= cocktail.name %>
    </div>
  <% end %>

  <%= link_to 'Create your own cocktail', new_cocktail_path %>
</div>
